go 1.21.3

use (
	./exercism/go/annalyns-infiltration
	./exercism/go/card-tricks
	./exercism/go/cars-assemble
	./exercism/go/lasagna
	./exercism/go/party-robot
	./exercism/go/vehicle-purchase
	./exercism/go/weather-forecast
	./exercism/go/welcome-to-tech-palace
)
