go 1.21.3

use (
	./exercism/go/animal-magic
	./exercism/go/annalyns-infiltration
	./exercism/go/bird-watcher
	./exercism/go/blackjack
	./exercism/go/booking-up-for-beauty
	./exercism/go/card-tricks
	./exercism/go/cars-assemble
	./exercism/go/interest-is-interesting
	./exercism/go/lasagna
	./exercism/go/lasagna-master
	./exercism/go/need-for-speed
	./exercism/go/party-robot
	./exercism/go/vehicle-purchase
	./exercism/go/weather-forecast
	./exercism/go/welcome-to-tech-palace
)
